.main-slider-section {
    background: #f4f4f4;
    height: 100vh;
    padding-top: 5%;

}

.main-slider-img {
    width: 64%;
    height: 87vh;
    position: relative;
    overflow: hidden;
  }
  
  .main-slider-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    margin-left: 13%;
    height: 100%;
    object-fit: contain;

    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s ease, opacity 0.5s ease;
  
    pointer-events: none;
    user-select: none;
    z-index: 1;
  }
  
  .main-slider-img img.active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1.3s ease, opacity 1s ease;
    pointer-events: auto;
    z-index: 2;
  }
  
  .main-slider-img img.exit {
    opacity: 0;
    transform: translateX(100%);
    pointer-events: none;
    z-index: 1;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .main-slider-section {
    height: 100vh;
  }
  
  .main-slider {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-left: 5%;
  }
  
  .main-slider-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: #f4f4f4;
    width: 40%;
    gap: 3%;
  }

  .main-slider-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: #f4f4f4;
    width: 40%;
    gap: 3%;
  }
  
  .main-slider-info-title {
    font-size: 50px;
    font-weight: 600;
  }
  
  .main-slider-info-description {
    font-size: 18px;
    color: rgb(127, 127, 127);
  }
  
  .main-slider-info-button {
    width: 30%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 0;
    border-radius: 17px;
    border: none;
    color: #e2e2e2;
    font-weight: 700;
  }
  
  .slider-buttons {
    display: flex;
    justify-content: center;
  }
  
  .main-slider-switch-btn {
    width: 11px;
    height: 11px;
    background: #000;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    margin-top: -0.3%;
  }
  
  .main-top-selling-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .top-selling-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 6%;
    padding-bottom: 40px;
  }

  .top-selling-title h2 {
    font-size: 30px;
    font-weight: 600;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-selling-title hr {
    width: 15%;
    margin: 0 auto;
    border: 0.5px solid rgb(43, 43, 43);
    margin-top: 0.6%;
  }

  .main-top-selling-cards {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 3%;
  }

  .main-top-selling-card {
    width: 100%;
    height: 380px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* важно */
    overflow: hidden; 
  }

  .main-top-selling-card-img-buttons {
    background: #f4f4f4;
    height: 300px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative; /* важно */
    overflow: hidden; 
  }

  .main-top-selling-block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
  }


.main-top-selling-card-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  height: 70%;
}

.main-top-selling-card-img {
  width: 65%;
  transition: width 0.9s ease;
}

.main-top-selling-card-img-buttons:hover .main-top-selling-card-img {
  width: 75%;
}

.main-top-selling-card-buttons {
  display: flex;
  margin: 0 auto;
  margin-top: 70%;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; 
  z-index: 2;
  text-decoration: none;
}

.main-top-selling-card-buttons a {
  text-decoration: none;
}

.main-top-selling-card-img-buttons:hover .main-top-selling-card-buttons {
  opacity: 1;
  pointer-events: auto;
}

.main-top-selling-card-button {
  width: 14%;
  height: 13.5%;
  margin: 0 auto;
  border: none;
  border-radius: 70%;
  background: white;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-top-selling-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-top-selling-card-info h4 {
  font-size: 14px;
}

.main-top-selling-card-info p {
  font-size: 14px;
  margin-top: 3%;
}

.main-top-selling-card-button-img {
  width: 55%;
}

.macEssentials {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  height: 70%;

}

.macEssentials h3 {
  font-size: 45px;
  font-weight: 600;
  margin: 8% 0 4% 0;
}

.macEssentialsCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.macAccessoriesBlock,
.macBlock {
  width: 47%;
  background: #f4f4f4;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.macAccessoriesBlock h4,
.macBlock h4 {
  padding: 10% 0 2% 0;
}

.left-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000; /* цвет треугольника */
}


.iMacAccessories {
  width: 100%;
}

.buyMacAccessoriesButton {
  border: none;
  padding-top: 2%;
  color: rgb(104, 104, 214);
  display: flex;
}
.popular-categories {
  width: 90%;
  margin: 0 auto;
}

.popular-categories-img {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.categories-slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.main-popular-categories-cards {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 5%;
  padding: 10px;
  scrollbar-width: none;
}

.main-popular-categories-cards::-webkit-scrollbar {
  display: none;
}

.main-popular-categories-card {
  min-width: 20px;
  flex-shrink: 0;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  font-size: 18px;
  transition: opacity 0.3s;
}

.slider-btn.left {
  left: 0;
}

.slider-btn.right {
  right: 0;
}

.slider-btn {
  width: 5%;
  background: rgb(203, 202, 202, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  border: 1px solid rgb(203, 202, 202);
  border-radius: 50%;
}